{% extends "base.html" %}

{% block content %}
    <h1>Contact Us</h1>

    <section>
        <h2>Get in Touch</h2>
        <p>For project enquiries, please use the MSK Engineering Assistant or Request Quote form.</p>

        <h3>Registered Office:</h3>
        <p>17/1, Cherlapally, Kapra, Medchal Malkajgiri, Telangana - 500051, India</p>

        <h3>Upcoming Facility:</h3>
        <p>Plot No. A53/2, IP-Madharam, Ghatkesar (M), Telangana - 501301, India</p>

        <h3>Email:</h3>
        <p><a href="mailto:info@mskprecisiongroup.com">info@mskprecisiongroup.com</a></p>
    </section>
{% endblock %}
